pandas
numpy
sentence-transformers
langchain
qdrant-client
huggingface
streamlit
huggingface-hub
docx
pypdf
python-dotenv
openai
pyyaml
einops
torch
distance
langchain_community
tiktoken
pydub
gTTS
SpeechRecognition
PyAudio
beautifulsoup4